body{
    background-color: #7ED957;
    
    }
    header {
        text-align: center;
        
    }
    
    body{
        text-align: center;
        background-color: green;
    }
    
    .container {
        padding: 3cm;
        padding-bottom: 4.7cm;
        font-family: 'Times New Roman';
        text-align: center;
    }
    
    .img {
        height: 50px;  
        width: 50px;
    }
    
    footer{
        padding-top: 3cm;
        background-color: #FF66C4;
    }
    .rodape{
        color: black;
        padding: 1cm;
    }